@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
#all{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0 auto;
    
}
#marquee{
    font-size: 1.5rem;
    font-weight: bolder;
    
}
.font{
    font-size:1.25rem
}
.black{
    color: black;
}
.sky{
    color:rgba(1, 172, 253, 1);
}
.orange{
    color:orange;
}
.three{
    font-weight: bold;
    font-size: 1.5rem;
    color:rgba(32, 32, 32, 1) ;
    background-color: ;
}

.four{
    
    font-weight: 500;
    font-size:0.99rem ;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    color:rgba(128, 128, 128, 1) ;

    
    
}
.btn-btn{
    font-weight: bold;
    font-size:0.99rem ;
    border: none;
    background-color: transparent;
    padding-bottom:58.48px ;
    padding-top: 38.67px;

}

.display-flex{
    display: flex;
   
}
.head{
    padding:20px 140px ;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid orange;
    border: none;
    
    
}
.head1{
    gap: 11px;
    align-items: center;
}
.head1 img{
    width: 62px;
    height: 62px;
}
.head2{
    margin-left: auto;
}
.school{
    font-weight: bold;
    font-size: 2rem;
    color: var(--color);
   
}

.head3{
     gap:32px ;
     padding-right:405px;
    
     
}

li{
    list-style: none;
    
}
li > a{
    text-decoration: none;
    padding: 16px auto;
}
.btn{
    background-color:orange ;
    width: 197px;
    height: 50px;
    border-radius:12px ;
    padding: 10px 30px;
    
    
}
.container{
    justify-content: space-between;
    align-items: center;
    margin: 0 140px;
    

}
.box-container{
    width: 600px;
    height: 400px;
} 
.ir{
    font-weight: bold;
    font-size:3.5rem;
    opacity: 100%;

}
.pr{
    font-weight:400;
    font-size: 1.25rem;
}
.btn-b{
    background-color:black;
    width: 197px;
    height: 50px;
    border-radius:12px ;
    padding: 10px 30px;
    color: white;
    border: none;
    cursor: pointer;
}
.ss{
    max-width:50px;
    max-height: 40px;
    padding-top: 5px;
}
.bg{
    background-image: url("../assets/bgg.png");
    background-position: center;
    background-size: cover;
    
   
    

    
    
}
.story{
    margin: 0 140px;
    
    
    
}
.st{ 
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 80px;
    font-weight: bold;
    font-size: 2.875rem;
    color:rgba(0, 0, 0, 1) ;
    
    
}
.standard-box{
    margin: 0 140px;
    padding-bottom: 200px;
    text-align: center;
    gap: 200px;
 

}


.img1 img{
    padding-top: 20px;
}
.be{
    background: linear-gradient(to bottom,rgba(222, 245, 255, 1), rgba(255, 255, 255, 1));
        box-shadow: inset 0 0 5px 3px rgba(222, 245, 255, 1);
        border-radius: 18.86px;
      

}
.hey{
    background: linear-gradient(to bottom,rgba(255, 244, 220, 1), rgba(255, 255, 255, 1));
    box-shadow: inset 0 0 5px 3px rgba(255, 244, 220, 1);
    border-radius: 18.86px;
  
}
.bd{
    background: linear-gradient(to bottom,rgba(242, 232, 255, 1), rgba(255, 255, 255, 1));
        box-shadow: inset 0 0 5px 3px rgba(242, 232, 255, 1);
        border-radius: 18.86px;
      
      
}
.hover{
    cursor: pointer;
}
.hover:hover{
   
    transform: scale(1.1);
    transition: trasform 0.3s ease;
}
.are{
    justify-content:center;
    text-align: center;
    align-items: center;
     gap: 10px;
     padding-bottom: 60px;
     font-size:1.5rem ;
    } 
.l{
    
    background-color: orange;
    border-radius: 100%;
    padding: 1% 1.2%;
    color: white;
   border: none;
} 



.r{
    
    background-color: orange;
    border-radius: 100%;
    padding: 1% 1.2%;
    color: white;
    border: none;
} 

.fa-sharp{
    font-size: 40px;
    visibility: hidden;
}
.gradient{
    background: 
    linear-gradient(to top, rgba(249, 220, 170, 1), rgba(0, 0, 0, 0)),
    url('../assets/bgg.png');
    background-position: center; 
    background-size: cover;   
    
    
}
.stories{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
   
}

.our{
    display: flex;
    justify-content: center;

}
.stories1{
   
    max-width: 800px;
    grid-row: span 2 ;
    width: 750px;
    max-height: 735px;
    background-color: rgba(255, 255, 255, 1);
    border-radius:16px ;
   
}
.stories2{
    background-color: rgba(255, 255, 255, 1);
    border-radius:16px ;
   
}
.stories3{
    background-color: rgba(255, 255, 255, 1);
    border-radius:16px ;
   
}
.stories4{
    background-color:rgba(255, 255, 255, 1);
    border-radius:16px ;
}
.stories5{
    background-color:rgba(255, 255, 255, 1);
    border-radius:16px ;
   
}



.date{
    font-weight: 500;
    font-size:0.95rem ;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    color:rgba(255, 255, 255, 1);
    margin-left: 38.35px;
    padding: 15px 15px;
    border-radius:47.93px ;
    position: absolute;
    margin-top: -30px;
    


}
.six img{
    width: 750px;
    border-top-left-radius:16px ;
    border-top-right-radius:16px ;
}
.seven{
    padding-left: 38.05px;
}
.collage{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    
}

   
.hg img{
    height: 250px;
    width: 410px;
    border-top-left-radius:16px ;
    border-top-right-radius: 16px;

}
.m{
    padding-top: 33.56px;
}
.w{
    font-weight: 500;
    font-size: 0.95rem;
    color: rgba(102, 102, 102, 1);
    padding-top: 47.93px;
    padding-bottom: 34.52px;}
.e{
        padding-bottom: 60px;
        padding-top: 80px;
        
        
    }

.ten{
    background-color:rgba(1, 172, 253, 1) ;
    padding: 123px 140px 174px 140px;
    color: rgba(255, 255, 255, 1);
    gap:50px ;
}
.white{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    
}

.footer2 img{
    width: 90px;
    height: 90px;
    filter: sepia(1) saturate(5) ;
    padding-top: 50px;
}
.footer2{
    gap:10.7px ;
    margin-bottom: 35.35px;
}
.k{
    font-size:2.63rem ;
    font-weight: bold;

}
.b{height: auto;
    width: 513.33px;
    padding-top: 0%;
   
}
.p{
    font-weight: 400;
    font-size:1.25rem ;
}
.xc{
    font-weight: bold;
    font-size: 1.5rem;
}
.footer3{
    
    padding-left: 20%;
}
.nav ul {
    display: inline-block;
    margin: 0;
    padding-left:0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    
}
.nav ul li{
    margin-top: 20px;
}
.h3{
    font-weight: bold;
    font-size: 1.6rem;
}
.gap{
    gap:10.15px ;
}
    




@media screen and (max-width:576px){

    .standard-box,
    .head2,
    .head3,
    .container,
    .box,
    .box-container{
        flex-direction: column-reverse;
        overflow-x: hidden;
        margin: 0 auto;
        padding: 0 auto;
        }

    .standard-box{
        flex-direction: column;
        padding: 0 0;
        gap:12.3px; 
        
    }
    .standard{
        max-width: ;
    }
    .st{
        font-weight: bold;
        font-size:2rem ;
    }
    
    .head3,
    .btn,
    .school{
        visibility: hidden;
    }
    .box-container{
        width: 350px;
        text-align: center;
    
        }

        
    .head{
      padding-left: 0%;
      margin-top: 3%;
      padding-right: 10px;
      height:0px;
      border: 1px solid orange;
      padding-top: 70px;
      
      
    }
    .ir{
        font-weight: bold;
        font-size: 2rem;
        
    }
    .hover:hover{
            transform: none;
            transition:  none;
    }
    .are{
        padding:5%;
    }
    .r{
    
        background-color: orange;
        border-radius: 100%;
        padding: 2% 3%;
        color: white;
    }
    .l{
    
        background-color: orange;
        border-radius: 100%;
        padding: 2% 3%;
        color: white;
       
    }
    .fa-sharp{
        font-size: 40px;
        visibility: inherit;
        
    }
    .head1 img{
        padding-bottom: 50px;
    }
    .fa-sharp{
        padding-bottom:50px ;
    }
   
    .stories1{
      display: none;
      
    }
        

.gradient{
    margin-left: 0% ;
    padding-left: 0%;
    padding-right: 0%;
    margin-right: 0%;
    overflow-x: hidden;
}
    .collage{
        padding: 0% 5px;
        
      
    }
   
.hg img{
    max-width: 180px;
    max-height:120px;
}
.per{ 
    font-size:1rem;
    
   
}
.date{
    font-size: 0.5rem;
    font-family: "Raleway", serif;
    font-weight: 500;
}
.story{
        margin: 0% 0%;
    }
.e{
    margin-left: 50%;
    }
    .ten{
        flex-direction: column;
        overflow-x: hidden;
        padding-left: 20px;
        
        margin: 0% 0%;
        
    }
    .footer3{
        padding-left: 0%;
    }
    .p{
        font-size: 0.5rem;
        font-weight: bold;
        padding-top:14.27px ;
        justify-content: center;
        
    }
    .footer1{
        width:100%;
    }
    .hg{
        width:180px ;
        
    }
    
    .collage{
        column-gap: 0%;
    }
   .hero{
    width: 380px;
   }

    







}   